img {border:0px}

.smallText{ font-size:60%}

#left {
    left:-8.33%;
    text-align: left;
    float: left;
    width:50%;
    z-index:-10;
}

    #left img{
        width:100%;
    }

    #left.eventstorming img{
        height:80%;
        width:80%;
    }

#right {
    left:31.25%;
    top: 75px;
    float: right;
    text-align: right;
    z-index:-10;
    width:50%;
}

.lowernote {
    font-size:60%;
}

.faroImage{
    display:inline-block;
    width:30%;
}